<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@400;600&display=swap"
    rel="stylesheet">
  <title>Document</title>
</head>
<body>

  <header>
    <div class="titulo">
      <img src="/images/logo.svg" alt="">
    </div>
    <div class="seccion-principal">
      <img src="/images/bg-desktop.svg" alt="">
    </div>
    <div class="principal">
        <div class="ventana-img">
          <img src="/images/illustration-mockups.svg" alt="">
        </div>
        <div class="principal-description">
          <p>Buil The Commmunty Tour Fans Will Love</p>
          <p>Huddle re-images the way build communities.You have a voice, but so does your audience. Create connections with your users as you engage in genuine discussion.</p>
          <form action="">
            <input type="button" value="Register">
          </form>
        </div>
    </div>
    <footer>

    </footer>    
  </section>
</body>
</html>